.thelist{
    border: 2px solid black;
    background-color:rgb(228, 60, 60)
}
.description{
    display: none;
    text-align: center
}
.thelist:hover .description{
    display: block;
    text-align: center
    
}
